@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*
regular 400
medium 500
semibold 600
extrabold 800
*/

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.63;
    letter-spacing: -0.02em;
    color: #d9d9d9;
    background-color: #121517;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #D9D9D9;
    text-decoration: none;
    transition: opacity 0.3s;
}

button {
    transition: opacity 0.3s;
    border: none;
    cursor: pointer;
}

a:hover, button:hover {
    opacity: 0.8;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 0 15px;
}

.logo {
    font-weight: 800;
    font-size: 37px;
    letter-spacing: -0.03em;
}

.text-gradient {
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    padding: 20px 80px;
    border-radius: 83px;
    background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
    font-weight: 639;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #fff;
}

.link {
    padding: 20px 55px;
    background: #121517;
    border: 1px solid #dadada;
    border-radius: 83px;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #d9d9d9;
}

.text-row {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 60px;
}

.text-row.text-row--reverse {
    flex-direction: row-reverse;
}

.text-row__title {
    width: 400px;
    position: relative;
}

.text-row__title::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: -5;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(90px);
}

.text-row__desc {
    width: 455px;
}

/*----------
    HEADER
----------*/
.header {
    padding: 50px 0;
}

.header .container {
    display: flex;
    align-items: center;
    gap: 95px;
}

.header__link + .header__link {
    margin-left: 95px;
}

/*----------
    MAIN
----------*/

.main {

}

/*----------
    WELCOME
----------*/

.welcome {
    margin-top: 30px;
}

.welcome__desc {
    max-width: 575px;
}

.welcome .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 80px;
    line-height: 109%;
    letter-spacing: -0.03em;
    color: #fff;
}

.welcome__title {
    margin-bottom: 55px;
    position: relative;
}

.welcome__title::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: -5;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(90px);
}

.welcome__text {
    margin-bottom: 55px;
}

.welcome__btns-wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 55px;
}

.stats {
    display: flex;
    gap: 45px;
}

.stats__item {
    width: 126px;
    line-height: 144%;
}

.stats__num {
    font-size: 62px;
    letter-spacing: -0.03em;
    line-height: 109%;
    color: #fff;
}

.stats__num::after {
    content: "+";
    background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome__img-wrapper {
    padding-right: 60px;
    position: relative;
}

.welcome__img-wrapper::before {
    content: '';
    width: 860px;
    height: 620px;
    position: absolute;
    z-index: -10;
    right: -230px;
    bottom: -180px;
    background-image: url("images/icons/lines.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.welcome__img-wrapper::after {
    content: '';
    position: absolute;
    bottom: 60px;
    right: 130px;
    z-index: -5;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(170px);
}

.welcome__img {
    width: 470px;
    animation: moveCup 1.5s infinite alternate ease-in-out;
}

@keyframes moveCup {
    0% {
        transform: none;
    }

    100% {
        transform: translateY(-40px);
    }
}

/*----------
    BENEFITS
----------*/

.benefits {
    margin-top: 110px;
    padding: 0 20px;
}

.benefits .container {
    position: relative;
    max-width: 1030px;
    padding-top: 55px;
    padding-bottom: 25px;
    border-radius: 46px;
    background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
    display: flex;
    justify-content: space-around;
}

.benefits__container::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 50px;
    z-index: -5;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(100px);
}

.benefits__container::after {
    content: 'we\Ahave';
    white-space: pre-wrap;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
    height: 200px;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-image: url("images/icons/star.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 86%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.benefits__item {
    max-width: 220px;
    text-align: center;
}

.benefits__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.benefits__img-wrapper::before {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}

.benefits__icon {
    width: 146px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.benefits__title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 32px;
    color: #121517;
}

.benefits__desc {
    line-height: 163%;
    color: rgba(18, 21, 23, 0.9);
}

.benefits__heart {
    top: calc(50% + 10px);
    left: calc(50% + 5px);
}

.benefits__rocket {
    width: 210px;
    top: calc(50% + 10px);
    left: calc(50% - 10px);
}

.benefits__money {
    width: 210px;
}

/*----------
    HISTORY
----------*/
.history {
    margin-top: 135px;
    padding-bottom: 25px;
}

.history .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.history__img-wrapper {
    position: relative;
    box-shadow: -14px 26px 65px 0 rgba(0, 0, 0, 0.39);
    display: flex;
}

.history__img-wrapper::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #237249;
    position: absolute;
    z-index: -10;
    top: 25px;
    left: -35px;
    clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.history__img {
    width: 465px;
    clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.history__text {
    max-width: 460px;
    position: relative;
}

.history__text::before {
    content: '';
    width: 860px;
    height: 620px;
    position: absolute;
    z-index: -10;
    right: -145px;
    bottom: -290px;
    background-image: url("images/icons/lines.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(37deg);
}

.history__title {
    margin-bottom: 60px;
    position: relative;
}

.history__title::before {
    content: '';
    position: absolute;
    top: 60px;
    right: 30px;
    z-index: -5;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(90px);
}

.history__desc {
    margin-bottom: 60px;
    line-height: 163%;
    color: #d9d9d9;
    letter-spacing: -0.02em;
}

.history__pic {
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
}

/*----------
    PRODUCTS
----------*/

.products {
    margin-top: 100px;
}

.products__card {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 270px;
    padding: 50px 30px 30px;
    text-align: center;
    background-color: #121517;
    border-radius: 30px;
}

.card::before {
    content: '';
    position: absolute;
    inset: -2px;
    background: linear-gradient(110deg, rgba(218, 218, 218, 0.7) 0%, rgba(218, 218, 218, 0.07) 42%), rgba(218, 218, 218, 0.7) 100%;
    border-radius: 30px;
    z-index: -5;
}

.card:hover::before {
    background: linear-gradient(260deg, rgba(35, 114, 73, 1) 0%, rgba(53, 198, 107, 1) 100%);
}

.card:hover .card__img {
    transform: translateY(-5px);
}

.card__img-wrapper {
    position: relative;
    margin-bottom: 30px;
}

.card__img-wrapper::before {
    content: '';
    display: inline-block;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}

.card__img {
    position: absolute;
    top: -30px;
    left: 0;
    width: 180px;
    filter: drop-shadow(0 4px 46px rgba(0, 0, 0, 0.48));
    transition: transform 0.5s;
}

.card__desc {
    margin-bottom: 15px;
}

.card__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
}

.card__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 163%;
    color: #ffffff;
    margin-bottom: 10px;
}

.card__price {
    font-weight: 500;
    font-size: 32px;
    color: #ffffff;
}

.card__btn {
    width: 100%;
    font-size: 17px;
    padding: 15px 0;
    border: none;
    cursor: pointer;
}

/*----------
    EVENTS
----------*/

.events {
    margin-top: 100px;
}

.events__inner-wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-auto-rows: 260px;
    grid-template-areas: "price price kitchen kitchen"
                         "free social social choose";
    position: relative;
}

.events__inner-wrapper::before {
    content: '';
    width: 860px;
    height: 620px;
    position: absolute;
    z-index: -10;
    left: -600px;
    top: -470px;
    background-image: url(images/icons/lines.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(420deg);
}

.events__inner-wrapper::after {
    content: '';
    position: absolute;
    right: 50%;
    bottom: -50px;
    z-index: -5;
    width: 320px;
    height: 270px;
    border-radius: 100%;
    background-color: rgba(217, 217, 217, 0.2);
    filter: blur(100px);
}

.event {
    padding: 45px 30px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

.event__title {
    margin-bottom: 50px;
    max-width: 294px;
    font-weight: 500;
    font-size: 32px;
    line-height: 109%;
    color: #ffffff;
    text-transform: uppercase;
}

.event__btn {
    padding: 20px 50px;
    display: inline-block;
}

.event--price {
    background-image: url('images/events/1.png');
    grid-area: price;
}

.event--kitchen {
    background-image: url('images/events/2.png');
    grid-area: kitchen;
}

.event--free {
    background-image: url('images/events/3.png');
    grid-area: free;
}

.event--social {
    background-image: url('images/events/4.png');
    grid-area: social;
}

.event--choose {
    background-image: url('images/events/5.png');
    grid-area: choose;
}

/*----------
    CONTACTS
----------*/
.contacts {
    padding-top: 130px;
    overflow: hidden;
    padding-bottom: 100px;
}

.contacts .container {
    display: flex;
    justify-content: space-between;
}

.contacts__text {
    width: 390px;
}

.contacts__title {
    margin-bottom: 50px;
}

.contacts__desc {
    margin-bottom: 50px;
    position: relative;
}

.contacts__desc::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: -5;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(90px);
}

.contacts__phone {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 32px;
    color: #ffffff;
}

.contacts__phone::before {
    content: '';
    width: 45px;
    height: 45px;
    background-image: url(images/icons/phone.png);
    background-size: contain;
    background-position: center;
}

.contacts__img-wrapper {
    position: relative;
}

/*светлячок-вспышка*/
.contacts__img-wrapper::before {
    content: '';
    position: absolute;
    top: 30px;
    left: -50px;
    z-index: -5;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(90px);
}

/*линии*/
.contacts__img-wrapper::after {
    content: '';
    width: 920px;
    height: 670px;
    position: absolute;
    z-index: -15;
    right: -245px;
    bottom: -360px;
    background-image: url("images/icons/lines.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(17deg);
}

.contacts__img-inner-wrapper {
    position: relative;
    padding-right: 35px;
}

/*подложка - прямоугольник*/
.contacts__img-inner-wrapper::before {
    content: '';
    width: calc(100% - 35px);
    height: 100%;
    background: #237249;
    position: absolute;
    z-index: -10;
    bottom: -25px;
    right: 0;
    clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0 100%, 0% 26%);
}

/*текст we have*/
.contacts__img-inner-wrapper::after {
    content: 'we\Ahave';
    white-space: pre-wrap;
    position: absolute;
    top: 55px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 250px;
    height: 250px;
    font-weight: 500;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
    background-image: url(images/icons/star.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 86%;
}

.contacts__img {
    width: 350px;
    clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0 100%, 0% 26%);
}

/*----------
    FOOTER
----------*/

.footer {
    padding: 40px 0;
    background-color: #0b0c0d;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 85px;
}

.footer__nav {
    display: flex;
    gap: 80px;
}

.footer__nav-col {
    display: flex;
    flex-direction: column;
}

.footer__nav-link {
    letter-spacing: -0.01em;
    color: rgba(187, 179, 179, 0.43);
}

.footer__nav-link:first-child {
    color: #bbb3b3;
}

.footer__up-link {
    width: 85px;
    height: 85px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(#0b0c0d, #0b0c0d) padding-box,
                linear-gradient(-30deg, #237249, #35c66b) border-box;
}

.footer__arrow {
    height: 35px;
}

.footer__phone {
    font-weight: 500;
    font-size: 26px;
}

/*----------------------
    ADAPTATION - TABLET
----------------------*/

@media (max-width: 1140px) {
    .benefits__container::after {
        left: 50px;
    }

    .welcome__img-wrapper {
        padding-right: 0;
    }

    .events__inner-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "price price"
                             "free social"
                             "kitchen choose";
    }
}

@media (max-width: 1000px) {
    .footer__nav {
        gap: 40px;
    }

    .welcome__img {
        width: 280px;
    }

    .welcome .container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .welcome__img-wrapper::before {
        width: 550px;
        height: 550px;
        right: -150px;
        bottom: -150px;
    }

    .history {
        text-align: center;
    }

    .history .container {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .history__img {
        width: 450px;
        height: 400px;
        object-fit: cover;
    }

    .history__text::before {
        right: -255px;
    }

    .text-row {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .text-row.text-row--reverse {
        flex-direction: column;
    }

    .text-row__title::before {
        right: auto;
        left: 50px;
    }

    .hide-text-mobile {
        display: none;
    }
}

@media (max-width: 850px) {
    .contacts {
        text-align: center;
    }

    .contacts .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    .contacts__img {
        width: 450px;
        height: 340px;
        object-fit: cover;
    }

    .contacts__img-inner-wrapper::after {
        left: auto;
        right: -200px;
        top: 0;
    }

    .contacts__img-wrapper::after {
        bottom: -240px;
        transform: rotate(33deg);
    }

    .footer__row {
        flex-wrap: wrap;
        align-items: center;
        row-gap: 40px;
        margin-bottom: 40px;
    }

    .footer__nav {
        width: 100%;
        order: 1;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer__nav-col {
        width: calc(50% - 15px);
    }

    .events__inner-wrapper::before {
        content: none;
    }
}

/*----------------------
    ADAPTATION - MOBILE
----------------------*/

@media (max-width: px) {}